flows (3).json
[{"id":"7c486380.ac498c","type":"tab","label":"node red flow","disabled":false,"info":""},{"id":"3661bedd.971b82","type":"ui_form","z":"7c486380.ac498c","name":"","label":"","group":"5994e8b.d03c218","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"b","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"c","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"d","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"e","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"f","type":"number","required":true,"rows":null},{"label":"Hepatatis B","value":"g","type":"number","required":true,"rows":null},{"label":"Measles","value":"h","type":"number","required":true,"rows":null},{"label":"BMI","value":"i","type":"number","required":true,"rows":null},{"label":"Under five deaths","value":"j","type":"number","required":true,"rows":null},{"label":"Polio","value":"k","type":"number","required":true,"rows":null}],"formValue":{"b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["1bc5e8a4.bc5bd7"]]},{"id":"1bc5e8a4.bc5bd7","type":"function","z":"7c486380.ac498c","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\n\n//following are required to receive a token\nvar apikey=\"By0QcAJvTYhh6NQvvfYpHMuqVy0WEQjCgSKy2eED4-Ue\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["2fc64017.3124c"]]},{"id":"a96db909.ea8588","type":"http request","z":"7c486380.ac498c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/49ce4d88-e945-459f-b218-d599bbb82c1e/deployments/de326b80-8a5b-4eb6-8048-8ae1f7d7cd67/online","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["a9a7c872.2e7688","f9ed2c70.52bf3"]]},{"id":"68a6a3b4.b4b01c","type":"debug","z":"7c486380.ac498c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":280,"wires":[]},{"id":"f9ed2c70.52bf3","type":"function","z":"7c486380.ac498c","name":"getFrom Endpoint","func":"msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["46621bca.a56824","68a6a3b4.b4b01c"]]},{"id":"a9a7c872.2e7688","type":"debug","z":"7c486380.ac498c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":100,"wires":[]},{"id":"8d51efba.a8f57","type":"function","z":"7c486380.ac498c","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"bb87c60b-8e48-4876-af5d-773a9ddb216f\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"Year\",\n\"Adult Mortality\",\n\"Infant Deaths\",\n\"Alcohol\",\"percentage expenditure\",\"Hepatatis B\",\"Measles\",\"BMI\",\"Under five deaths\",\"Polio\"],\n\"values\":[[b,c,d,e,f,g,h,i,k]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["a96db909.ea8588"]]},{"id":"2fc64017.3124c","type":"http request","z":"7c486380.ac498c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":100,"wires":[["8d51efba.a8f57"]]},{"id":"46621bca.a56824","type":"ui_text","z":"7c486380.ac498c","group":"5994e8b.d03c218","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":400,"wires":[]},{"id":"5994e8b.d03c218","type":"ui_group","z":"","name":"Default","tab":"39fa979e.966498","order":1,"disp":true,"width":"6","collapse":false},{"id":"39fa979e.966498","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]